<ng-container>
    <nav class="navbar navbar-expand-lg primary-background">
      <div class="collapse navbar-collapse w-25">
        <a class="navbar-brand" [routerLink]="'/app/home'">
          <div class="container m-0 text-center w-50">
            <img class="img-fluid w-100" src="assets/AppLogoTrans1.png">
          </div>
        </a>
      </div>

      <div class="collapse navbar-collapse justify-content-center w-50">
         <!--Search select-->
         <ng-select
            class="w-100"
            [items]="dropdownItems$ | async" 
            bindLabel="name" 
            bindValue="name"
            (change)="onSelectClick()"
            [(ngModel)]="selectedArticle">
         </ng-select>
      </div>

      <div class="collapse navbar-collapse justify-content-end w-25">
        <button class="btn btn-outline-light ml-2" (click)="logoutUser()">
          Logout
        </button>
      </div>
    </nav>
  </ng-container>