<div class="main main-background">
  <!-- <div class="logo-panel"></div> -->
  <div class="left-panel"></div>
  <div class="behind-form-panel"></div>
  <div class="right-panel"></div>
</div>

<div class="login-form-wrapper">
    <form [formGroup]="loginFormGroup">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="loginName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" formControlName="rememberMeCheckBox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="d-flex flex-column mt-4">
          <button type="submit" class="btn btn-primary login-button" [disabled]="!loginFormGroup.valid" (click)="onLoginClick()">Submit</button>
          <button type="submit" class="btn btn-primary login-button" (click)="onRegisterNewUserClick()">Register</button>
        </div>
      </form>
</div>