<ng-container>
    <div class="container">
        <div class="row">
            <section>
                <h1>Most fire news!</h1>
                <carousel>
                    <slide *ngFor="let img of imgCollection; let index=index">
                        <div class="slide">
                            <img [src]="img.image" alt="image slide" style="width: 100%;">
                                <div class="carousel-caption">
                                    <p>{{img.title}}</p>
                                </div>
                        </div>
                    </slide>
                </carousel>
            </section>
        </div>
    </div>
</ng-container>

