<ng-container>
    <div class="container">
        <div class="row">
                <h1>Most fire news!</h1>
                <carousel>
                    <slide *ngFor="let img of sliderImages; let index=index">
                        <div class="slide">
                            <figure style="width: 100%; min-width: 1140px;">
                                <img [src]="img.image" alt="image slide" style="width: 100%; height: auto;">
                            </figure>
                        <div class="carousel-caption">
                            <p>{{img.title}}</p>
                        </div>
                        </div>
                    </slide>
                </carousel>
        </div>
    </div>
</ng-container>

